In [1]:
import pandas as pd

In [2]:
#read a simple json file into a dataframe
data = pd.read_json('datasets/simple.json')
data.head()

      name  age grade
0    Andew   12     A
1   Bhuvan   18     B
2  Clinton   11     A
3    Drake   12     C
4    Eisha   13     B

In [5]:
#if we have json data in multiple rows then we cant read it directly
data = pd.read_json('datasets/simple_records.json', lines = True)
data.head()

      name  age grade
0    Andew   12     A
1   Bhuvan   18     B
2  Clinton   11     A
3    Drake   12     C
4    Eisha   13     B

In [6]:
#if the data that we have is in the format of the nested json then we cant directly read it and then we use json module
import json
with open('datasets/nested.json') as f:
    my_data = json.load(f)
print(my_data)

[{'student_roll_no': 101, 'details': {'name': 'Andew', 'age': 12, 'grade': 'A'}}, {'student_roll_no': 102, 'details': {'name': 'Bhuvan', 'age': 18, 'grade': 'B'}}, {'student_roll_no': 103, 'details': {'name': 'Clinton', 'age': 11, 'grade': 'A'}}, {'student_roll_no': 104, 'details': {'name': 'Drake', 'age': 12, 'grade': 'C'}}, {'student_roll_no': 105, 'details': {'name': 'Eisha', 'age': 13, 'grade': 'B'}}, {'student_roll_no': 106, 'details': {'name': 'Farhan', 'age': 22, 'grade': 'C'}}, {'student_roll_no': 107, 'details': {'name': 'Garima', 'age': 11, 'grade': 'A'}}, {'student_roll_no': 108, 'details': {'name': 'Himanshu', 'age': 19, 'grade': 'A'}}, {'student_roll_no': 109, 'details': {'name': 'Ishaan', 'age': 10, 'grade': 'D'}}, {'student_roll_no': 110, 'details': {'name': 'Jason', 'age': 9, 'grade': 'B'}}]

In [7]:
#since this data is in really unstructured format so we can use pprint to view it in a structured mannner
from pprint import pprint
pprint(my_data)
#spo we can see all these nested structure is a part of the list

[{'details': {'age': 12, 'grade': 'A', 'name': 'Andew'},
  'student_roll_no': 101},
 {'details': {'age': 18, 'grade': 'B', 'name': 'Bhuvan'},
  'student_roll_no': 102},
 {'details': {'age': 11, 'grade': 'A', 'name': 'Clinton'},
  'student_roll_no': 103},
 {'details': {'age': 12, 'grade': 'C', 'name': 'Drake'},
  'student_roll_no': 104},
 {'details': {'age': 13, 'grade': 'B', 'name': 'Eisha'},
  'student_roll_no': 105},
 {'details': {'age': 22, 'grade': 'C', 'name': 'Farhan'},
  'student_roll_no': 106},
 {'details': {'age': 11, 'grade': 'A', 'name': 'Garima'},
  'student_roll_no': 107},
 {'details': {'age': 19, 'grade': 'A', 'name': 'Himanshu'},
  'student_roll_no': 108},
 {'details': {'age': 10, 'grade': 'D', 'name': 'Ishaan'},
  'student_roll_no': 109},
 {'details': {'age': 9, 'grade': 'B', 'name': 'Jason'}, 'student_roll_no': 110}]

In [8]:
my_data[0]
#if i want to find out age of each we must first access details dictionary

{'student_roll_no': 101, 'details': {'name': 'Andew', 'age': 12, 'grade': 'A'}}

In [10]:
my_data[0]['details']['age']

12

In [11]:
#in this way we can iterate through all of the ages
for data in my_data:
    print(data['details']['age'])

12
18
11
12
13
22
11
19
10
9

In [13]:
#now lets say i want to find out the names of all those student with age greater than 15
rel_data = list()
filtered_var = dict()
for data in my_data:
    if data['details']['age'] > 15:
        filtered_var['name'] = data['details']['name']
        filtered_var['age']  = data['details']['age']
        rel_data.append(filtered_var)

print(rel_data)

[{'name': 'Himanshu', 'age': 19}, {'name': 'Himanshu', 'age': 19}, {'name': 'Himanshu', 'age': 19}]

In [15]:
with open('datasets/created_json.json', 'w')as f:
    json.dump(rel_data, f, indent = 4)